#contact {
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../../assets/contact.png);
  background-position: center;
  background-size: cover;
}

#contact .content {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contact .content .contact-img {
  width: 50%;
}

#contact .content .contact-img img {
  width: 100%;
  margin: 0 auto;
}

#contact .content .contact-form {
  width: 50%;
  padding: 10px 40px;
  margin-bottom: 40px;
}

#contact .content form {
  width: 100%;
  max-width: 350px;
}

#contact .content form h1 {
  color: var(--_color_3);
  font-size: 2rem;
  margin: 40px 0px 10px;
}

#contact .content form select,
#contact .content form input {
  width: 100%;
  height: 50px;
  color: #666;
  font-size: 15px;
  border: 1px solid #999;
  border-radius: 4px;
  margin-top: 8px;
  padding: 0 15px;
}

#contact .content form .input-group {
  display: flex;
}

#contact .content form .input-group input + input {
  margin-left: 8px;
}

.button {
  width: 100%;
  height: 50px;
  background: var(--_color_3);
  border: 0;
  border-radius: 4px;
  color: var(--_color_0);
  font-weight: 700;
  margin-top: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s ease-in;
}

.button:hover {
  background: transparent;
  color: var(--_color_3);
}

@media (max-width: 700px) {
  #contact {
    background-image: url(https://images.unsplash.com/photo-1581091877018-dac6a371d50f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  }
  #contact .content {
    display: grid;
    justify-content: center;
    padding: 10px;
  }

  #contact .content .contact-img {
    display: none;
  }

  #contact .content .contact-form {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 40px;
  }

  #contact .content form h1 {
    text-align: center;
    font-size: 2.4rem;
  }
}


