.partners {
  text-align: center;
  background: var(--_color_1);
  padding: 30px;
}

.partners > h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--_color_3);
}

.partners > ul {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 0;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partners ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.partners ul li a img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

/*
.partners ul li a img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.partners ul li a img:hover {
  -webkit-filter: none;
  filter: none;
}
*/

@media (max-width: 760px) {
  .partners > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .partners > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 380px) {
  .partners > ul {
    display: grid;
    grid-template-columns: 1fr;
  }

  .partners ul li {
    margin: 0 10px;
  }
}
